# Not needed since we are handling this with terraform
apiVersion: v1
kind: Secret
metadata:
  name: creds-provider-gcp-haiilo
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "admin",
      "password": "t0ps3cr3t11"
    }
